<h3>Create an account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
  
  <!-- <div class="field">
    <label>Username</label>
    <input formControlName="username"/>
  </div> -->
  <app-input
    label="Username"
    [control]="authForm.get('username')"
    inputType="text"
  ></app-input>
  <app-input
    inputType="password"
    label="Password"
    [control]="authForm.get('password')"
  ></app-input>
  <app-input
    inputType="password"
    label="Password Confirmation"
    [control]="authForm.get('passwordConfirmation')"
  ></app-input>
  <button class="ui submit button primary">Submit</button>

  <!-- {{ authForm.errors | json }} -->
  <div *ngIf="authForm.errors && authForm.get('password').touched && authForm.get('passwordConfirmation').touched" class="ui red basic label">
    <p *ngIf="authForm.errors.passwordsDontMatch">
      Passwords don't match
    </p>
  </div>

</form>
<hr>
<!-- DEBUG -->
<div>Form values: {{ authForm.value |json }}</div>
<div>Form is valid: {{authForm.valid}} </div>
<!-- <div>Errors around name: {{authForm.controls.errors | json}}</div> -->